/* https://lospec.com/palette-list/fantasy-24 */
* {
    color:#efd8a1;
    font-family: 'UniqueRegular';
    margin: 0;
    padding: 0;
    --text-color:#efd8a1; 
    --right-dicereadout-margin: 145px;
    --button-background: #ab5c1c;
    --button-border: 6px double #773421;
}

::-webkit-scrollbar {
    width: 10px;
}

body {
    background-color: #2a1d0d;
}

#pagetitle {
    font-size: 30px;
    text-align: center;
    position: fixed;
    right: calc(var(--right-dicereadout-margin) - 35px);
    top: 10px;
    writing-mode: tb;
    width: calc(100% - 170px);
    overflow: hidden;
}

#successesreadout {
    z-index: 199;
    border: 3px double var(--text-color);
    position: fixed;
    right: 15px;
    top: 15px;
    width: 75px;
    height: 8.5em;
    padding: 2px;
    text-align: center;
    animation: fadein 1s ease; 
}
@keyframes fadein {
    from { opacity: 0; top: -55px; }
    to {opacity: 1; top: 15px;}
}
 #successesreadout #numbah {
    font-size: 50px;
 }

#successreadout ::before {
    content: "Total: ";
}

#console, #dicereadout {
    position: absolute;
    top: 0;
    left: 0;
    right: var(--right-dicereadout-margin);
    bottom:calc(60vh + 5px);
    border: double 5px #efd8a1;
    border-top: none;
    border-left: none;
    border-radius: 0 0 20px 0;
    margin-bottom: -1px;
    display: block;
    overflow-y: scroll;
    text-align: center;
}

#console ::scrollbar {
    width: 0px;
}

#console * {
    background-color: transparent;
    color: lime;
}

#input {
    position: fixed;
    bottom: 0;
    top: calc(40vh + 5px);
    right: 20px;
    left: 0;
    color: black;
    border: double 5px #efd8a1;
    border-left: none;
    border-bottom: none;
    border-radius: 0 30px 0 0;
    margin: 0px;
}

#input, #console, #dicereadout {
}

#console, #dicereadout {
}

#input #inputlist {
    overflow-y: scroll;
    height: 100%;
    list-style: none;
}

#input * {
}

#dicereadout {
    text-align: center;
}

#dicereadout #dicelist {
    margin: 0;
    list-style: none;
    text-align: center;
}

#dicereadout #dicelist .shadowdie {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    display: none;
    width: 0;
    height: 0;
}

#dicereadout .die {
    position: relative;
    background-image: url('/img/d10_raw.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: visible;
    border: none;
    width: 40px;
    height: 40px;
    text-align: center;
    animation: rollin 1s;
    float: left;
    box-shadow: none;
}
@keyframes rollin {
    from { opacity: 0; transform: rotate(1000deg); }
    to {opacity: 1; transform: rotate(0deg); }
}
#dicereadout .die.success {
    background-image: url('/img/d10__success_raw.svg');
}

#dicereadout .die.success.double {
    background-image: url('/img/d10__double_raw.svg');
}
#dicereadout .die:before {
    content: "";
    display:block;
    padding-top: 100%;
}
#dicereadout .die p {
    font-size: 200%;
    position: absolute;
    top: 18%;
    left: 0;
    bottom: 0;
    right: 0;
    text-shadow: 0px 0px 3px red;
}
#dicereadout .die.success p {
    text-shadow: 0px 0px 3px #3c9f9c;
}
#dicereadout .die.success.double p {
    color: #276468;
}

#dicereadout .die.selected {
    border: 1px dashed goldenrod;
    border-radius: 100px;
    background-color: rgba(255, 0, 0, .2)
}

#input .segment {
    text-align: center;
    border-bottom: 3px double #724113;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
}

#input .segment label {
    margin: 3px;
}
#auto-successes-selector label {
    display: block;
} 
#input .segment .direct-input {
    border: none;
    border-bottom: 2px var(--text-color) solid;
    background: none;
    font-size: 200%;
    text-align: center;
}
#input .segment .acceso-range {
    top: 64vh;
    right: -10vh;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 3em;
}

#input .segment .incdec {
    width: 30px;
    height: 30px;
    margin: 3px;
    background: var(--button-background);
    border: var(--button-border);
    font-size: 100%;
    font-weight: 900;
}
#input .segment .acceso-range input {
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    height: 3px;
    background: none;
    border: var(--button-border);
}
#input .segment .acceso-range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--button-background);
    border: var(--button-border);
    box-shadow: 0px 0px 5px black;
}

#input .segment #rollbutton, #input .segment #rerollbutton {
    width: 50vw;
    height: 40px;
    background: var(--button-background);
    border: var(--button-border);
}

#input .segment #rerollbutton {
    width: 40vw;
    height: 30px;
    margin-top: 10px;
}

button {
}

.boolean-mode-picker, #tricklist, .dice-number-selector {
    list-style: none;
    margin: 0 -5px;
}

.boolean-mode-picker li, #tricklist li, .dice-number-selector li {
    display: inline-block;
}

#select-mode-picker button {
    margin: 3px;
    width: 30vw;
}

.dice-number-selector li {
    margin: 0 1.3px;
}

.dice-number-selector li label {
    display: block;
    margin: 0;
    margin-bottom: -4px;
}

@media (orientation:landscape) {
   
}