* {
    color: white;
    font-family: 'GrundschriftRegular';
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#pagetitle {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50px;
    top: 30px;
    margin-right: 140px;
    overflow: hidden;
    max-height: 1em;
    height: 40px;
}

#console, #dicereadout {
    border: solid 3px;
    padding: 40px;
    margin-bottom: -1px;
    padding-top: 80px;
    width: calc(100% - 6px - 80px);
    height: calc(50vh - 120px);
    display: block;
    border-image: url('/img/console_border.svg');
    border-image-slice: 38 45 23 33 fill;
    border-image-width: 38 45 23 33;
    overflow-y: scroll;
}

#dicereadout {
    overflow: hidden;
}

#console ::scrollbar {
    width: 0px;
}

#console * {
    background-color: transparent;
    color: lime;
}

#input {
    color: black;
    border: solid 3px white;
    border-image: url('/img/button_border.svg');
    border-image-slice: 45 fill;
    border-image-width: 45;
    margin: 0px;
    margin-top: -50px;
    padding: 50px;
    height: calc(50vh - 20px - 50px);
    width: calc(100% - 110px);
}

#dicereadout {
    text-align: center;
}

#dicereadout ul {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    list-style: none;
}

#dicereadout .die {
    position: relative;
    background-image: url('/img/d10.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: visible;
    border: none;
    width: 15vmin;
    text-align: center;
}
#dicereadout .die:before {
    content: "";
    display:block;
    padding-top: 100%;
}
#dicereadout .die p {
    font-size: 5.5vmin;
    position: absolute;
    top: 33%;
    left: 0;
    bottom: 0;
    right: 0;
}